@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth@0,6..12,75..125;1,6..12,75..125&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,75..125,600;1,6..12,75..125,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,75..125,800;1,6..12,75..125,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Nunito san, sans-serif;

  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-gray-100 dark:bg-gray-900;
}
